/* Estilos globais */
:root {
    --blue: #0056b3;
    --dark-blue: #004494;
    --light-blue: #cce7ff;
    --light-green: lightgreen;
    --light-red: #ffcccc;
    --dark-red: #990000;
    --white: #ffffff;
    --gray: #333;
    --gray-dark: #6c757d;
    --font-family: Arial, sans-serif;
    --font-family-serif: Raleway, serif;
}

html {
    font-family: var(--font-family);
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

/* Estilo do corpo */
body {
    background-color: #f0f8ff; /* Azul claro para o fundo */
    color: var(--gray); /* Cor de texto em cinza escuro para contraste */
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: var(--blue); /* Azul escuro */
}

.navbar-brand, .navbar-nav .nav-link {
    color: #fff !important; /* Branco para o texto da navbar */
}

.navbar-nav .nav-link:hover {
    color: var(--light-blue) !important; /* Azul claro para hover */
}

/* Botões */
.btn-primary {
    background-color: var(--blue);
    border-color: var(--dark-blue);
}

.btn-primary:hover {
    background-color: var(--dark-blue);
    border-color: #003366;
}

/* Containers */
.container {
    padding: 20px;
    background-color: var(--white); /* Branco para áreas de conteúdo */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Cabeçalhos */
h1, h2, h3, h4, h5, h6 {
    color: var(--blue); /* Azul para os cabeçalhos */
}

/* Links */
a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    color: var(--dark-blue);
    text-decoration: underline;
}

/* Alertas */
.alert {
    border-radius: 8px;
    padding: 10px 20px;
}

.alert-success {
    background-color: var(--light-green); /* verde claro */
    color: var(--blue);
}

.alert-danger {
    background-color: var(--light-red); /* Vermelho claro */
    color: var(--dark-red);
}

/* Rodapé */
footer {
    background-color: var(--blue);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

/* Estilos Responsivos */
@media only screen and (max-width: 576px) {
    .m100 {
        margin-top: 40px;
    }
}

/* Padding e Margem */
.pl-3, .px-3 {
    padding-left: 1rem !important;
}

.pr-3, .px-3 {
    padding-right: 1rem !important;
}

.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}

/* Flexbox */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* Box Sizing */
*, :after, :before {
    box-sizing: border-box;
}
