{% extends "base.html" %}

{% block title %}Página Inicial - Minha Aplicação{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Bem-vindo à Home da Aplicação!</h1>
    <p class="text-center mb-5">Esta é a página inicial onde você pode encontrar acesso á lista de usuários cadastrados!</p>

    <!-- Seção de Destaques - Centralizada e Redimensionada -->
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Lista de Usuários</h5>
                    <p class="card-text">Clique no botão abaixo para acessar a lista de usuários.</p>
                    <a href="{% url 'users-list' %}" class="btn btn-primary">Acessar Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
