{% extends 'base.html' %}

{% block title %}Cadastro - Minha Aplicação{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="bg-light shadow-lg rounded-4 p-4" style="max-width: 450px; width: 100%;">

        <div class="card border-0 shadow-sm rounded-3">
            <div class="card-body p-4">
                <h2 class="text-center mb-4 text-primary">Cadastro de Usuário</h2>
                <form method="POST" action="{% url 'signup' %}">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="first_name" class="form-label">Nome</label>
                        <input type="text" name="first_name" class="form-control rounded-pill" id="first_name" required placeholder="Digite seu nome">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control rounded-pill" id="email" name="email" required placeholder="Digite seu email">
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input type="password" class="form-control rounded-pill" id="password" name="password" required placeholder="Digite sua senha">
                    </div>

                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirmação de Senha</label>
                        <input type="password" class="form-control rounded-pill" id="password2" name="password2" required placeholder="Confirme sua senha">
                    </div>

                    <button type="submit" class="btn btn-primary rounded-pill w-100">Cadastrar</button>
                </form>

                <div class="text-center mt-3">
                    <p class="mb-0">Já tem uma conta? <a href="{% url 'login' %}" class="text-primary">Faça login aqui</a></p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
