{% extends "base.html" %}

{% block title %}Lista de Usuários{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Lista de Usuários</h1>
    <ul class="list-group mt-3">
        {% for user in users %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'user-detail' user.id %}">{{ user.username }}</a>
                <span class="badge bg-primary">{{ user.email }}</span>
            </li>
        {% empty %}
            <li class="list-group-item">Nenhum usuário encontrado.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
